@import './dark.scss';
@import './search.scss';
@import './filters.scss';
@import './sidebar.scss';
@import './references.scss';
@import './reference.scss';

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    outline: none;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

html {
	overflow: hidden;
}

#⌘ {
    width: 100%;
    padding: 30px;
	height: 100vh;
}

div.content-panel {
	display: flex;
	flex-direction: row;
	height: calc(100vh - 200px);

	div {
		display: flex;
		flex-direction: column;
	}
}

button {
    min-width: 120px;
    min-height: 40px;
    cursor: pointer;
    border: 0px solid grey;
    border-radius: 5px;
    margin: 5px 10px;
}